.font-extralight {
    font-family: "SourceHanSerif";
    font-weight: 200;
}
.font-light {
    font-family: "SourceHanSerif";
    font-weight: 300;
}
.font-default {
    font-family: "SourceHanSerif";
    font-weight: 400;
}
.font-normal {
    font-family: "SourceHanSerif";
    font-weight: 400;
}
.font-regular {
    font-family: "SourceHanSerif";
    font-weight: 500;
}
.font-medium {
    font-family: "SourceHanSerif";
    font-weight: 600;
}
.font-bold {
    font-family: "SourceHanSerif";
    font-weight: 700;
}
.font-heavy {
    font-family: "SourceHanSerif";
    font-weight: 900;
}